<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">ca2bcf77</property>
  <property name="hibernate.connection.url">jdbc:mysql://us-cdbr-east-06.cleardb.net/heroku_56c718d0cfb0727?reconnect=true</property>
  <property name="hibernate.connection.username">bfb46a17550150</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.hbm2ddl.auto">none</property>
  <property name="hibernate.search.autoregister_listeners">true</property>
  <property name="hibernate.validator.apply_to_ddl">false</property>
  <mapping class="com.bookstoredb.entity.Customer"/>
  <mapping class="com.bookstoredb.entity.BookOrder"/>
  <mapping class="com.bookstoredb.entity.Category"/>
  <mapping class="com.bookstoredb.entity.OrderDetail"/>
  <mapping class="com.bookstoredb.entity.Users"/>
  <mapping class="com.bookstoredb.entity.Review"/>
  <mapping class="com.bookstoredb.entity.Book"/>
 </session-factory>
</hibernate-configuration>
