<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">fidko5caoij378u6</property>
  <property name="hibernate.connection.url">jdbc:mysql://pk1l4ihepirw9fob.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/n2vppbiccxru5t2t?password=fidko5caoij378u6&amp;user=s0vb3nxm5byz0g9w</property>
  <property name="hibernate.connection.username">s0vb3nxm5byz0g9w</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.hbm2ddl.auto">none</property>
  <property name="hibernate.search.autoregister_listeners">true</property>
  <property name="hibernate.validator.apply_to_ddl">false</property>
  <mapping class="com.bookstoredb.entity2.Customer"/>
  <mapping class="com.bookstoredb.entity2.BookOrder"/>
  <mapping class="com.bookstoredb.entity2.Category"/>
  <mapping class="com.bookstoredb.entity2.OrderDetail"/>
  <mapping class="com.bookstoredb.entity2.Users"/>
  <mapping class="com.bookstoredb.entity2.Review"/>
  <mapping class="com.bookstoredb.entity2.Book"/>
 </session-factory>
</hibernate-configuration>
