<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory name="">
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.password">2601dab0 </property>
  <property name="hibernate.connection.url">jdbc:mysql://bba4bda261021f:2601dab0@us-cdbr-east-06.cleardb.net/heroku_1677bc7a67d3269?reconnect=true"</property>
  <property name="hibernate.connection.username">bba4bda261021f</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
 </session-factory>
</hibernate-configuration>
